auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
	address 192.168.1.2
	netmask 255.255.255.0
	gateway 192.168.1.1
	# First UCARP configuration
	ucarp-vid 3
	ucarp-vip 192.168.1.3
	ucarp-password secret
	ucarp-advskew 0
	ucarp-advbase 1
	ucarp-master yes
	# Second UCARP configuration
	ucarp-vid:1 3
	ucarp-vip:1 192.168.1.4
	ucarp-password:1 secret
	ucarp-advskew:1 0
	ucarp-advbase:1 1
	ucarp-master:1 yes

iface eth0:ucarp inet static
	address 192.168.1.3
	netmask 255.255.255.0

iface eth0:ucarp:1 inet static
	address 192.168.1.4
	netmask 255.255.255.0
